*.class

# Package Files #
*.jar
*.war
*.ear

# Visual Studio SDF files #
*.sdf
*.opensdf
src/win32/Box2d/bin/
src/win32/Box2d/obj/
src/win32/Debug/
src/win32/OpenCvTracking/Debug/
*.vcxproj.user
*.suo

.DS_Store

# Xcode
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*/build/*

*.xcworkspace
xcuserdata
*.xcuserstate

*.xcscheme

*.xcbkptlist

src/Poly2Tri/Debug/
src/Poly2Tri/bin/
src/win32/bin/
src/.metadata/
src/Android/bin/
src/Android/obj/
src/a.exe
