*.class

# Package Files #
*.jar
!DestroyAroundMe/libs/*.jar
*.war
*.ear

# Visual Studio SDF files #
*.sdf
*.opensdf
OpenCVFinal/Debug/
OpenCVFinal/OpenCVFinal/Debug/
GlobalProject/win32/Box2d/bin/
GlobalProject/win32/Box2d/obj/
GlobalProject/win32/Debug/
GlobalProject/win32/OpenCvTracking/Debug/
*.vcxproj.user
*.suo
